<nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home"><i class="fa-solid fa-house"></i>  Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about"><i class="fa-solid fa-circle-info"></i>  About Me</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/projects"><i class="fa-regular fa-folder-open"></i>  Projects</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/services"><i class="fa-solid fa-list"></i>  Services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contact"><i class="fa-solid fa-id-badge"></i>  Contact</a>
          </li>
        <nav id="searchBar"> 
        <form class="d-flex" role="search">
          <input class="form-control ms-auto mb-2 mb-lg-0" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </nav> 

      </div>
    </div>
  </nav>