<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <!--Css Section-->
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="./Content/app.css">
</head>
<body>
    <h1>Hello World</h1>
    <table>
        <tr>
            <th>Stunt</th>
            <td> 
                something (person, or thing) stop growing or is not well-developed
            </td>
        </tr>
        <tr>
            <th>Stall</th>  
            <td>Typically of a vehicle or engine that stops working due to the overload of the engine</td>
        </tr>
        <th></th>   
        <td></td>
    </table>
    <!--JavaScript Section-->
    <script src="./jquery/dist/jquery.min.js"></script>
    <script src="./bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script src="./Scripts/app.js"></script>
</body>

</html>