/* ================== GLOBAL VARIABLES ================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root{
    --border-radious:2rem;
    /* --card-background:; */

}

h3{text-align: center;}
*, *::before, *:after{
    box-sizing: inherit;
    
}

body {
    background-image: url('../Assets/images/trilliumBack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: poppins, 'sans-serif';
    font-size: 20px;
    color: lightblue;
}

/*header css*/
/* Icons padding */
span{
    padding-right: 10px;
}

.primary-header{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.disappearBtn{
    display: none;
}
.primary-navigation{    
    display: flex;
    list-style:none;
    background: hsl(0 0% 0% / 0.75);
    padding-bottom: 17px;   
}
/* Basically what Supports does is that when our website is used in a browser that supports this
   property it will use it, otherwise It will use the defaul value that is above*/
@supports (backdrop-filter: blur(1rem)){
    .primary-navigation{
        background: hsl(0 0% 100% / 0.1);   
        backdrop-filter: blur(1rem);
    }
}

.primary-navigation li a{    
    padding-right: 30px;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 15px;
}

/*******ABOUT PAGE LAYOUT*******/



/*******CONTACT PAGE LAYOUT*******/

.wrapperContact{
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex; 
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}
.formContact{
    background: hsla(286, 63%, 50%, 0.1);   
    backdrop-filter: blur(1rem);
    border-radius: 25px;
    width: 800px;
    text-align: center;
    padding-top: 60px;
}
.formContact div input{
    border-radius: 20px;
    border: none;
    width: 90%;
    height: 50px;
    padding-left: 10px;
}
textarea{
    border-radius: 20px;
    border: none;
    width: 90%;
    height: 50px;
    padding-left: 10px;
}
label{
    display: block;
}


/* Links and social media side */
.phoneAndEmail a, h3{
    display: block;
    text-align: left;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}
.phoneAndEmail{
    padding-bottom: 30px;
}

/* Override block display from above selector */
.imagesInContact a
{
    display: inline-block;
    border: 1px solid darkcyan; 
    width: 16%; 
    height: 30%;
    border-radius: 20px; 
    font-size: 40px; 
    margin: 0 10px;
    text-align: center;
}
.contactInfo{
    padding-top: 30px;
    color: black;
}
.headLines{
    padding-bottom: 60px;
    font-weight:700;
    font-size: 50px
}
.flexHome{
    display: flex;   
    align-items: center;
    margin-top: 7%;
}
/********* HOME PAGE **********/
.intro h1{
    font-size: 45px; 
    font-weight: 700px; 
    opacity: 0;
    animation: slideBottom 1s ease forwards; 
    animation-delay: .4s;
}
.intro h1:nth-of-type(2){
    animation: slideTop 1s ease forwards; 
    animation-delay: .4s;
}
.intro h2{
    font-size: 75px; 
    animation: slideRight 1s ease forwards; 
    animation-delay: .7s; 
    opacity: 0; 
}
.intro h1 b{
    color: #03C988;
}

#statement{
    font-size: 25px; 
    padding: 30px 0px;
    animation: slideTop 1s ease forwards;
}

button{border: none; padding: 10px 20px 10px 20px; border-radius: 16px; font-size: 20px;}
.aboutLink:hover{color: white; background-color: rgb(36, 167, 36);}
.aboutLink{color: black; background-color: #fff; transition: .1s ease;}

#myPhoto{margin-left: 30px; 
    margin-bottom: 20px; 
    border-radius: 80px; 
    box-shadow: 10px 10px 10px white; 
    width: 600px; height: 400px;}

/* ====================== PROJECTS PAGE CSS ============================= */
.wrapperProjects{
    display: flex;
}
.projectImages{
    width: 100%;
    height: 80%;
}
.wrapperProjects div h5{
    font-size: 1.3rem;
    margin: 20px 0;
    font-weight: 600;
}
.wrapperProjects .firstCard{
    width: 50%;
    padding: 2rem;
    margin-right: 30px;
    border-radius: var(--border-radious);
    background: hsla(286, 63%, 50%, 0.1);   
    backdrop-filter: blur(1rem);
}
.wrapperProjects .secondCard{
    width: 50%;
    padding: 2rem;
    border-radius: var(--border-radious);
    background: hsla(286, 63%, 50%, 0.1);   
    backdrop-filter: blur(1rem);
}
.wrapperProjects .thirdCard{
    width: 50%;
    padding: 2rem;
    margin-left: 30px;
    border-radius: var(--border-radious);
    background: hsla(286, 63%, 50%, 0.1);   
    backdrop-filter: blur(1rem);
}

/* ====================== SERVICES PAGE CSS ============================= */

.containerServices{width: 980px; margin: 0 auto; display: flex;}
.cube{border: 2px solid black; border-radius: 25px; margin-top: 80px;}
.cube h2{margin-bottom: 40px;}
.cube1{align-items: center; text-align: center; display: block; padding: 20px 0px 20px 0px;}
.cube2{align-items: center; text-align: center; display: block; padding: 20px 0px 20px 0px;}
.cube3{align-items: center; text-align: center; display: block; padding: 20px 0px 20px 0px;}
.servicesImages{width: 100px; height: 100px; margin: 40px 0px 50px 0px;}
.paragraphServices{margin: 20px; text-align: center;}
.contactMeServices{align-items: center; margin-top: 20px;}
.cube input{border: none; width: 35%; font-size: 120%; height: 55px; border-radius: 16px; }

/*footer css*/
footer{padding-top: 5%;}

/* KeyFramesForWebsite */
@keyframes slideBottom{ 0%{transform: translateY(-100px); opacity: 0; } 100%{transform: translateY(0); opacity: 1;}}
@keyframes slideTop{ 0%{transform: translateY(100px); opacity: 0; } 100%{transform: translateY(0); opacity: 1;}}
@keyframes slideRight{ 0%{transform: translateX(-100px); opacity: 0; } 100%{transform: translateX(0); opacity: 1;}}