/*All pages*/
h3{text-align: center;}
*, *::before, *:after{
    box-sizing: inherit;
    
}

body {
    background: radial-gradient(circle, hsla(0, 0%, 86%, 1) 0%, hsla(270, 94%, 25%, 1) 54%);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500px;
    color: lightblue;
}

/*header css*/
.primary-header{
    background-color: #03C988;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.primary-navigation{    
    display: flex;
    list-style:none;
}

.primary-navigation li a{    
    padding-right: 30px;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 15px;
}

/*about page CSS*/
.carroucelMyp{width: 500px; height: 500px;}
.slide{width: 30%;}

#softDevelop:checked ~ nav label.softDevelop,
#databaseInfo:checked ~ nav label.databaseInfo,
#webDevelopment:checked ~ nav label.webDevelopment{color: black;}



.wrapper{max-width: 50%; margin-left: auto; margin-right: auto; height: auto; background: #fff; padding: 25px; border-radius: 5px; display: grid; grid-template-columns: 40% 60%;}
.wrapper nav{position: relative; display: flex; flex-direction: column; z-index: 1;}
.wrapper nav label{height: 100%; cursor: pointer; margin: 25px 0px 25px 0px; color: black;}
.wrapper nav .slider{position: absolute; height: 55px; width: 55%; background-color: red; border-radius: 5px; z-index: 0; top: 10px; transition: all 0.3s ease;}

#softDevelop:checked ~ aside .content-1,
#databaseInfo:checked ~ aside .content-2,
#webDevelopment:checked ~ aside .content-3{display: block;}

aside .content{display: none;}


#databaseInfo:checked~ nav .slider{top: 37%;}
#webDevelopment:checked~ nav .slider{top: 71%;}

input[type="radio"]{display: none;}

aside .title{font-size: 20px; font-weight: 500; margin: 30px 0px 10px 0px;}


/*contact page CSS*/
.wrapperContact{
    display: grid; 
    grid-template-columns: 60% 40%;  
    height: auto; margin-right: auto; 
    margin-left: auto; 
    width: 80%; 
    height: auto; 
    margin-top: 4.5%;
    position:relative;
}

.contactForm{
    width: 80%;
    background-color: #E8B4B8;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
} 
form{
    color: black;
    width:80%;
    max-width:768px;
    border:1px solid #ddd;
    padding:3vw;
    display:flex;
    flex-direction:column;
    border-radius:10px;
    font-size: 17px;
    backdrop-filter: blur(20px);
}
label{
    margin-bottom:15px;
    position:relative;   
}    
textarea{
        margin-top: 23px;
        border: none;
        outline: none;
        border-radius: 10px;
        width: 100%;
}
    input{
        width:100%;
        padding:10px 0px;
        width: 100%;
        height: 40px;
        margin-top:20px;
        border:none;
        outline:none;
        border-radius: 10px;
    }
    input::placeholder{
        opacity:0;
    }
    span{
        position:absolute;
        top:0;
        left:0;
        transform:translateY(30px);
        transition-duration:300ms;
    }
    button{
        padding:15px 0px; 
        margin-top:20px;
        background:purple;
        color:#fff;
        border:1px solid purple;
        cursor:pointer;
        border-radius:3px;
    }
label:focus-within > span,
input:not(:placeholder-shown) + span{
    color:purple;
    transform:translateY(0px);
}

/* Links and social media side */
.phoneAndEmail a{
    display: block;
    text-align: left;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}
.phoneAndEmail h3{
    display: block;
    text-align: left;
    font-size: 20px;
    text-decoration: none;
}
/* Override block display from above selector */
.imagesInContact a
{
    display: inline-block;
    border: 1px solid black; 
    width: 10%; 
    height: 30%;
    border-radius: 20px; 
    font-size: 40px; 
    margin: 0 10px;
}
.contactInfo{
    text-align: center;
    padding-top: 60px;
    color: black;
    
}
.headLineTop{
    text-align: left;
    padding-bottom: 60px;
    font-weight: 50px;
    font-weight: bolder;
}
.followMe
{
    text-align: left;   
    padding-top: 60px;
    padding-bottom: 20px;
    font-weight: bolder;
}



/*home page CSS*/
.flex{
    display: flex;   
    align-items: center;
}
.intro{font-size: 70px;}
.intro h1{font-size: 32px; font-weight: 700px; opacity: 0; animation: slideBottom 1s ease forwards; animation-delay: .4s;}
.intro h1:nth-of-type(2){animation: slideTop 1s ease forwards; animation-delay: .4s;}
.intro h2{font-size: 56px; animation: slideRight 1s ease forwards; animation-delay: .7s; opacity: 0; }
.intro h1 b{color: #03C988;}
#statement{font-size: 25px; margin-top: 25px;}
button{border: none; padding: 10px 20px 10px 20px; border-radius: 16px; font-size: 20px;}
.aboutLink:hover{color: white; background-color: rgb(36, 167, 36);}
.aboutLink{color: black; background-color: #fff; transition: .1s ease;}

#myPhoto{margin-left: 30px; margin-top: 20px; border-radius: 80px; box-shadow: 10px 10px 10px white;}
.photoMax{max-width: 600%;}

/*projects page CSS*/

/*services page CSS*/
.containerServices{width: 980px; margin: 0 auto; display: flex;}
.cube{border: 2px solid black; border-radius: 25px; margin-top: 80px;}
.cube h2{margin-bottom: 40px;}
.cube1{align-items: center; text-align: center; display: block; padding: 20px 0px 20px 0px;}
.cube2{align-items: center; text-align: center; display: block; padding: 20px 0px 20px 0px;}
.cube3{align-items: center; text-align: center; display: block; padding: 20px 0px 20px 0px;}
.servicesImages{width: 100px; height: 100px; margin: 40px 0px 50px 0px;}
.paragraphServices{margin: 20px; text-align: center;}
.contactMeServices{align-items: center; margin-top: 20px;}
.cube input{border: none; width: 35%; font-size: 120%; height: 55px; border-radius: 16px; }

/*footer css*/
footer{padding-top: 5%;}


 /* Responsiveness for website */
@media only screen and (max-width: 35em) {
  .primary-navigation{
    position: fixed;
    inset: 0 0 0 35%;
    flex-direction: column;
    background: steelblue;
    /* Top , left - We used minimun in order to resize the screen in smaller phones. */
    padding: min(5vh, 10rem) 2rem;
    }

    .primary-navigation li a{
    margin-top: 20px;
    }
}


/* KeyFramesForWebsite */
@keyframes slideBottom{ 0%{transform: translateY(-100px); opacity: 0; } 100%{transform: translateY(0); opacity: 1;}}
@keyframes slideTop{ 0%{transform: translateY(100px); opacity: 0; } 100%{transform: translateY(0); opacity: 1;}}
@keyframes slideRight{ 0%{transform: translateX(-100px); opacity: 0; } 100%{transform: translateX(0); opacity: 1;}}