<body>
  <div class="container">
    <h1 class="who">Who am I?</h1>
    <h2>
      I am a 21 years old male that is crazy for the web development world
    </h2>
    <p>
      In addition, I am a self-taught person who enjoys taking complex
      situations and turn them into situations than can be fixed in an
      staightforward way. I studied at Centennial Collge and throughout my
      college years I have improved my skills in order to get a deep
      understanding within the web development lifecycle. I enjoy pushing my
      self to new challenges, learning and theories concepts than can help me to
      boost my experience and knowledge. When I am not playing with pixels you
      can find me cooking, walking in parks or working out.
    </p>

    <div class="slider-container">
      <div class="column">
      <img src="./Assets/images/photo1.jpg" class="slide-img" alt="photo1" />
      </div>
      <div class="column">
      <img src="./Assets/images/photo2.jpg" class="slide-img" alt="photo1" />
      </div>
      <div class="column">
      <img src="./Assets/images/photo3.jpg" class="slide-img" alt="photo1" />
      </div>    
      <div class="column">
      <img src="./Assets/images/photo4.jpg" class="slide-img" alt="photo1" />
      </div>
      <div class="column">
      <img src="./Assets/images/photo5.jpg" class="slide-img" alt="photo1" />
      </div>
      <div class="column">
      <img src="./Assets/images/photo6.jpg" class="slide-img" alt="photo1" />
      </div>
  </div>
</body>
