<body>
  <div class="container">
  <h1 id="abotMe">About Me</h1>
  <p> I was born in Cayambe Ecuador on May 13 2002. Nowadays, on my 20's I use my free time to code and watch videos related to web development programming. My main focus for this year is to get a Software Engineer job since I studied and got a diploma in the Software Engineer field at Centennial College. Everyday I try to upgrade and learn by myself new mechanisms or new tools that will help me to earn experience and knowledge within the web-development lifecycle. Currently I have experience using HTML, CSS, JavaScript, TypeScript, Node.js, MongoDB, etc. However, web development is not the only knowledge I have. I also have experience using programming languages such as C#, Java, Python, MySQL and .NET.
  </p>
  <div class="firstCarrousel">
        <div class="card" style="width: 18rem;">
          <img src="../Assets/images/groceryApp.png" class="card-img-top" alt="grocery">
          <div class="card-body">
            <h5 class="card-title">Grocery List on its defaul state</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Grocery List with items added</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Even when we refresh items do not dissapear from the list</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
  </div>
  <p>I tried to live each day as if it were the last day of my life; therefore, when I feel overwhelmed for coding bugs, erros or just life issues I try to occupy my mind doing other tasks such as: visiting parks, going to the gym, hanging out with friend or playing videogames.
  </p>
  <div class="firstCarrousel">
      <div class="card" style="width: 18rem;">
        <img src="../Assets/images/winter1.jpeg" class="card-img-top" alt="winter1">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../Assets/images/winter.jpeg" class="card-img-top" alt="winter">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
        <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </div>
</body>   







