<body>
  <div class="container">
  <h1 id="abotMe">About Me</h1>
  <p> I was born in Cayambe Ecuador on May 13 2002. From my kindergarden to my 7th grade I was close to my grandparents since my parents would spend their time working for giving me a good quality life. At my age of twelve my parents decided for buying a house so we moved out from my grandparents house, for my it was the worst day ever I could go through due to I was quite close to my grandparents. On June 2019 my parents gave me the opportunity to study in Canada so we started working in all the documents I needed for doing so. 
  </p>
  <div>
    <img src="../Assets/images/cayambeBorn.jpg" alt="cayambe">
  </div>
  <p>When I arrived to Canada the experiece I lived was pretty sad at the begining since I did not know anybody in this country, but as the time went going on I started to meet people, some people started to be my friends and nowadays on my 21's after I finished my Software Engineer Technician Program at Centennial College I dedicate my time to code and watch videos related to web development programming since I found out that web development is something interesing and I would like to get the chance to work for a company that gives me that opportunity. Everyday I try to upgrade and learn by myself new mechanisms or new tools that will help me to earn experience and knowledge within the web-development lifecycle. Currently, I have gotten experience using HTML, CSS, JavaScript, TypeScript, Node.js, MongoDB, etc. It is worth to say that web development is not the only knowledge I have. I also have experience using programming languages such as C#, Java, Python, MySQL and .NET.</p>


  <p>However, when I feel overwhelmed for coding bugs, erros or just life issues I try to occupy my mind doing other activities such as: visiting parks, going to the gym, hanging out with friend or playing videogames.
  </p>
</body>   







