<body>
  <div class="container">
    <h1 id="aboutMe">About Me</h1>
    <div class="mainInfo">
      <div>
        <h2>Skills</h2>
        <ul>
          <li>Time-management</li>
          <li>Detail-Oriented</li>
          <li>Team worker</li>
          <li>Individual worker</li>
          <li>Self-taught</li>
        </ul>
      </div>
      <div>
        <h2>Experience</h2>
        <ul>
          <li>TypeScript</li>
          <li>React</li>
          <li>Node.js</li>
          <li>MongoDB</li>
          <li>GIT</li>
        </ul>
      </div>
    <div>
      <h2>Extra Info</h2>
      <ul>
        <li>Ecuatorian</li>
        <li>Single</li>
        <li>Willing for relocation</li>
        <li>Commute 100% ability</li>
        <li>Motivated human being</li>
      </ul>
    </div>
  </div>
    <div class="aboutGrid">
    <div>
          <p class="move-left slide-in">I was born in Cayambe Ecuador on May 13 2002. From my kindergarten to my 7th grade I was close to my grandparents since I grew up with them, and my parents would spend their time working to give me a good quality life. At the age of twelve my parents decided to buy a house so we moved out from my grandparents house, for me that was the worst day I could ever go through due to the love I had for them. In June 2019 my parents gave me the opportunity to study in Canada so we started working on all the documents I needed for doing so.
          </p>
    </div>
    <div class="volcano slide-in">
      <img src="../Assets/images/cayambeBorn.jpg" alt="cayambeVolcano" class="move-right">
    </div>
        <div>
          <img src="../Assets/images/graduation.jpeg" alt="graduation" class="move-left slide-in">
        </div>
      <div>
      <p class="move-right slide-in">When I arrived to Canada I started studying at Centennial College; however, the experience I went through at the beginning was pretty sad since I did not know anybody in this country, but as the time went going on I started meeting  people, some people became friends and nowadays on my 21's after I concluded my Software Engineer Technician Program at Centennial College I realized that web development is really interesting for me; therefore, I dedicate my time to code and watch videos related to web development programming. Besides, I would like to join to the job market as a Web Developer. Everyday I try to upgrade and learn by myself new mechanisms or new tools that will help me to earn experience and knowledge within the web-development lifecycle. Currently, I have gotten experience using HTML, CSS, JavaScript, TypeScript, Node.js, MongoDB, React, etc. It is worth saying that web development is not the only knowledge I have. I also have experience using programming languages such as C#, Java, Python, MySQL and .NET.</p>
      </div>
      <div>
      <p class="move-left slide-in">However, when I feel overwhelmed for coding bugs, erros or just life issues I try to occupy my mind doing other activities such as: visiting parks, going to the gym, hanging out with friend or playing videogames.
      </p>
      </div>
      <div class="gymPicture slide-in">
      <img src="../Assets/images/gymPicture.jpeg" alt="gym" class="move-right">
      </div>
    </div>
  </div>
</body>   







