    <h1><%= title%></h1>
<body>
    <main class="container">
    <p>Hello my name is Johan Fernando Lema, I am an Ecuatorian who decided to study abroad in order ot get a better life and a better job.<br>
    Currently, I finished my studies at Centennial College and I received the Ontario Diploma as Softwate Engineer Technician. I am excited to start working in the web development field<br>
    since I was a kid it has caugth my attention. My professional and personal skills will help me to adapt to any environment that I may face. Besides, the knowledge in HTML, CSS, <br>
    JavaScript, TypeScript and MongoDB will help me to create and develop the most sofisticated websites in order to fill up our stakeholders desires.     
    </p>
    </main> 

</body>












