    <h1><%= title%></h1>
<body>
    <main class="container">
    <p id="aboutStatement">Hello my name is Johan Fernando Lema, I am an Ecuatorian who decided to study abroad in order ot get a better life and a better job.
    Currently, I finished my studies at Centennial College and I received the Ontario Diploma as Softwate Engineer Technician. I am excited to start working in the web development field
    since I was a kid it has caugth my attention. My professional and personal skills will help me to adapt to any environment that I may face. Besides, the knowledge in HTML, CSS,
    JavaScript, TypeScript and MongoDB will help me to create and develop the most sofisticated websites in order to fill up our stakeholders desires.     
    </p>
 

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active text-center">
          <img src="./Assets/images/johan-graduation.jpeg" alt="graduation" class="carroucelMyp rounded" >
        </div>
        <div class="carousel-item text-center">
          <img src="./Assets/images/johan-downtown.jpeg" alt="stairs" class="carroucelMyp rounded">
        </div>
        <div class="carousel-item text-center">
          <img src="./Assets/images/johan-stairs.jpeg" alt="snow" class="carroucelMyp rounded">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="wrapper">
        <input type="radio" name="slider" id="softDevelop" checked>
        <input type="radio" name="slider" id="databaseInfo">
        <input type="radio" name="slider" id="webDevelopment">
        <nav>
        <label for="softDevelop" class="softDevelop"><i class="fa-solid fa-code"></i> Software Development</label>
        <label for="databaseInfo" class="databaseInfo"><i class="fa-solid fa-database"></i> Database</label>
        <label for="webDevelopment" class="webDevelopment"><i class="fa-solid fa-file-code"></i> Web Development</label>
        <div class="slider"></div>
        </nav>

        <aside>
            <div class="content content-1">
                <div class="title">This is my software development information</div>
                <p>I have knowledge and experience when it comes to software development. <br> The libraries and frameworks that I have use to create and develop few of my projects are:</p>
                <ul>
                    <li>C# <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 80%"></div>
                      </div></li> 
                    <li>Python <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 40%"></div>
                      </div></li>
                    <li>Java <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 50%"></div>
                      </div></li>
                    <li>WPF <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 70%"></div>
                      </div></li>
                </ul>
            </div>
            <div class="content content-2">
                <div class="title">The types of database that I have used are: </div>
                <p>---</p>
                <ul>
                    <li>MySQL <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 60%"></div>
                      </div></li>
                    <li>Oracle <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 40%"></div>
                      </div></li>
                    <li>MongoDB <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 90%"></div>
                      </div></li>
                    <li>MongoDB Atlas <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 90%"></div>
                      </div></li>
                </ul>
            </div>
            <div class="content content-3">
                <div class="title">Web Development</div>
                <p>My main focus is web development, that is why along the years I have been improving my skills and abilities when it comes to use any web development application, framework, tool or library.</p>
                <ul>
                    <li>HTML <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 90%"></div>
                      </div></li>
                    <li>CSS <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 90%"></div>
                      </div></li>
                    <li>TypeScript <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 80%"></div>
                      </div></li>
                    <li>JavaScript <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 70%"></div>
                      </div></li>
                    <li>React <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 40%"></div>
                      </div></li>
                    <li>Figma <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" style="width: 90%"></div>
                      </div></li>
                </ul>
            </div>
          </aside>

    </div>
    </main>

</body>












