    <div class="wrapperContact">
        <!-- Form side -->
<div class="register">
    <form>
        <label for="name">
            <input type="text" id="name" placeholder="Name">
            <span>Name:</span>
        </label>
        <label for="email">
            <input type="email" id="email" placeholder="Email">
            <span>Last Name:</span>
        </label>
        <label for="phone">
            <input type="text" id="phone" placeholder="Phone">
            <span>Email:</span>
        </label>

        <label for="phone">
        <textarea name="message" id="sendMessage" rows="4"></textarea>
            <span>Message</span>
        </label>
        
        <button class=".contactBtn" type="button">Contact Me!</button>
    </form>
</div>
        
        <!-- Icons side -->
        <div class="contactInfo">
            <h2 class="headLineTop">Contact Me</h2>
            <div class="phoneAndEmail">
                <h3>Mon - Fri: 9:00 am - 8:00 pm</h3>
                <a href="https://www.google.com/maps/place/2152+Lawrence+Ave+E,+Scarborough,+ON+M1R+0B5/@43.74792,-79.2880487,17z/data=!3m1!4b1!4m6!3m5!1s0x89d4d1fe9631ea3d:0x7e4c1fc30e38478b!8m2!3d43.74792!4d-79.28586!16s%2Fg%2F11h31zx026"><i class="fa-solid fa-building"></i> 2152Lawrence Avenue East</a>
                <a href="tel:+1 6475816217"><i class="fa-solid fa-phone"></i> +1 647-581-6217</a>
                <a href="mailto:johan.13fernando@gmail.com"><i class="fa-solid fa-envelope"></i> johan.13fernando@gmail.com</a>
            </div>
            <h2 class="followMe">Follow Me</h2>
            <hr>
            <div class="imagesInContact">
                <a href="https://www.instagram.com/johan_srfernando/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/johan-lema-farinango-a02b11220/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/JohanFernandoLema"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>







