<body>
    
<div class="wrapperContact">
        <!-- Form side -->
<div class="register">
    <form class="formContact">
            <div>
                <label for="firstName">First Name:</label>
                <input type="text" name="firstName" id="firstName" placeholder="Your first name">
            </div>
            <div>
                <label for="lastName">Last Name:</label>
                <input type="text" name="lastName" id="lastName" placeholder="Your last name">
            </div>
            <div>
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" placeholder="johndoe@example.com">
            </div>
            <div class="pb-5">
                <label for="message">Message:</label>
                <textarea name="message" id="message" rows="auto" placeholder="Something you would like to tell us"></textarea>
            </div>

        
        <button class=".contactBtn mb-5" type="button">Contact Me!</button>
    </form>
</div>
        
        <!-- Icons side -->
        <div class="contactInfo">
            <h2 class="headLines">Contact Me</h2>
            <div class="phoneAndEmail">
                <h3>Mon - Fri: 9:00 am - 8:00 pm</h3>
                <a href="https://www.google.com/maps/place/2152+Lawrence+Ave+E,+Scarborough,+ON+M1R+0B5/@43.74792,-79.2880487,17z/data=!3m1!4b1!4m6!3m5!1s0x89d4d1fe9631ea3d:0x7e4c1fc30e38478b!8m2!3d43.74792!4d-79.28586!16s%2Fg%2F11h31zx026"><i class="fa-solid fa-building"></i> 2152Lawrence Avenue East</a>
                <a href="tel:+1 6475816217"><i class="fa-solid fa-phone"></i> +1 647-581-6217</a>
                <a href="mailto:johan.13fernando@gmail.com"><i class="fa-solid fa-envelope"></i> johan.13fernando@gmail.com</a>
            </div>
            <h2 class="headLines">Follow Me</h2>
            <hr>
            <div class="imagesInContact">
                <a href="https://www.instagram.com/johan_srfernando/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/johan-lema-farinango-a02b11220/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/JohanFernandoLema"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
</body>






