<body>
    <header>
        <div class="container">
            <h1><%= title%></h1>
        </div>
    </header>
    <main id="contactMain">

        <h1>Do you have any query?</h1>
        <h3>I would be happy to hear it!</h3>
        <div class="container form-floating mt-6 pt-3" id="contactMe">

            <div class="form-floating mb-5 mt-5 ">
                <input type="text" class="form-control" id="floatingName" placeholder="Name">
                <label for="floatingName">Name</label>
            </div>
            <div class="form-floating mb-5">
                <input type="text" class="form-control" id="floatingPassword" placeholder="Last Name">
                <label for="floatingPassword">Last Name</label>
            </div>

            <div class="form-floating mb-5">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
          </div>

              <div class="form-floating">
                <textarea name="messageToShare" id="floatingMessage" class="form-control" placeholder="Message"></textarea>
                <label for="floatingMessage">Message</label>
              </div>

              <button type="button" class="btn btn-dark mt-5" id="submit">Submit</button>
        </div>
        

        <!-- <div id="myInfo">
            <a href="mailto:johan.13fernando@gmail.com"><i class="fa-solid fa-envelope"></i> Johan Fernando Lema</a>
            <a href="https://www.instagram.com/johan_srfernando/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/johan-lema-farinango-a02b11220/"><i class="fa-brands fa-linkedin"></i></a>
        </div> -->

    </div>
    </main>
    <footer></footer>

