<body>
    <header>
        <div class="container">
            <h1><%= title%></h1>
        </div>
    </header>
    <main id="contactMain">

        <h1>Do you want to get in touch?</h1>
        <h3>Send me a messsage</h3>
        <div class="container form-floating mt-6 pt-3" id="contactMe">
    <div class="containerContact">
    <form action="/home" class="contactForm">
        
            <div class="form-floating mb-5 mt-5 ">
                <input type="text" class="form-control" id="floatingName" placeholder="Name">
                <label for="floatingName">Name</label>
            </div>
            <div class="form-floating mb-5">
                <input type="text" class="form-control" id="floatingPassword" placeholder="Last Name">
                <label for="floatingPassword">Last Name</label>
            </div>

            <div class="form-floating mb-5">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
          </div>

              <div class="form-floating">
                <textarea name="messageToShare" id="floatingMessage" class="form-control" placeholder="Message"></textarea>
                <label for="floatingMessage">Message</label>
              </div>

              <button type="submit" class="btn btn-dark mt-5" id="submit">Submit</button>
              <button class="btn btn-dark mt-5" id="reset" type="reset">Reset</button>

    </form>

        <div>
            <div>
                <h4>2152 Lawrence Avenue East</h4>
                <h4>+1 647-581-6217</h4>
                <h3>Service Hours: 9:00 am - 16:00 pm</h3>
            </div>   
            <div class="alignItems">

                <h2>Follow Me</h2>
 <hr>

                <a href="mailto:johan.13fernando@gmail.com" ><img src="./Assets/images/e-mail.png" alt="e-mail" class="imageContact"></a>
                <a href="https://www.instagram.com/johan_srfernando/"><img src="./Assets/images/instagram.png" alt="instagram" class="imageContact"></a>
                <a href="https://www.linkedin.com/in/johan-lema-farinango-a02b11220/"><img src="./Assets/images/linkedIn.png" alt="LinkedIn" class="imageContact"></i></a>
                <a href="http://"><img src="./Assets/images/GitHub.png" alt="gitHub" class="imageContact"></a>
            </div>
        </div>
    </div>
    </main>
    <footer></footer>

