<div class="container homeEdit">
<div class="mainPart">
    <h1 id="intro">Hi, I am Johan Lema</h1>
    <p id="statement">Along this website you will find information about myself. You can jump between tabs to find further information about myself</p>
    <form action="/about">
    <button type="submit" class="aboutLink">About Me</button>
    </form>
</div>

    <img src="./Assets/images/LinkedinPhoto.jpeg" alt="myPhoto" id="myPhoto">

</div>
