<body>
<section class="container flexHome">
    <div class="intro">
    <h1>Hi, my name is</h1>
    <h2>Johan Lema</h2>
    <h1>And I am a <b>SOFTWARE ENGINEER</b></h1>
    <div>
        <p id="statement">Along this website you will find information about myself. You can jump between tabs to find further information</p>
    </div>
    <form action="./Documents/Johan Lema CV Resume.pdf" target="_blank">
    <button type="submit" class="homeButton">My Resume</button>
    </form>
    </div>
    <div class="homePhoto">
        <img src="./Assets/images/mississaugaJohan.jpeg" alt="myPhoto" id="myPhoto">
    </div>
</section>
</body>