<div class="container">
    <h1 class="headingProjects" style="text-align: center; margin: 2rem 0;"><%= title%></h1>
    <div class="wrapperProjects">
      <!-- =========== FIRST PROJECT =========== -->
      <div class="projects">
        <div class="cardContent">
        <img src="./Assets/images/dashboard.png" alt="dashboard" class="images">
        <h3>Admin Dashboard</h3>
        <p>Used CSS and HTML to design an admin dashboard UI. Porject created in order to practice some fundaments from CSS and HTML </p>
      </div>
        <button class="gitHubLinks"><i class="fa-brands fa-github"></i></button>
      </div>

         <!-- =========== SECOND PROJECT =========== -->
         <div class="projects">
          <div class="cardContent">
            <img src="./Assets/images/ecuatorianCuisine.png" alt="restaurant" class="images">
            <h3>Sort Menu Restaurant</h3>
            <p>Used CSS and HTML to design an admin dashboard UI. Porject created in order to practice some fundaments from CSS and HTML </p>
          </div>
          <button class="gitHubLinks"><i class="fa-brands fa-github"></i></button>
        </div>

        <!-- =========== THIRD PROJECT =========== -->
        <div class="projects">
          <div class="cardContent">
            <img src="./Assets/images/restaurant.png" alt="restaurant" class="images">
            <h3>Zomato Porject</h3>
            <p>Used CSS and HTML to design an admin dashboard UI. Porject created in order to practice some fundaments from CSS and HTML </p>
            </div>
            <button class="gitHubLinks"><i class="fa-brands fa-github"></i></button>
          </div>
    </div>
</div>







   <!-- </div>
  </div>
  <div class="card card3" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Even when we refresh items do not dissapear from the list</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div> 
</div>

<div class="firstCarrousel">
<div class="card" style="width: 18rem;">
  <img src="../Assets/images/winter1.jpeg" class="card-img-top" alt="winter1">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../Assets/images/winter.jpeg" class="card-img-top" alt="winter">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div> -->