<div class="container">
    <h1><%= title%></h1>
<div class="firstCarrousel">
    <div class="card" style="width: 18rem;">
      <img src="../Assets/images/groceryApp.png" class="card-img-top" alt="grocery">
      <div class="card-body">
        <h5 class="card-title">Grocery List on its defaul state</h5>
        <p class="card-text">Using CSS, JavaScript and Html I designed a grocery app, that accepts and saves information for any type of list that the user want to have. In its default value it have Gorcery List</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../Assets/images/dashboard.png" class="card-img-top" alt="dashboard">
      <div class="card-body">
        <h5 class="card-title">Manager Dashboard</h5>
        <p class="card-text">Using Css and HTML I designed a manager dashboard which would work as a page where you can check the order details of the company.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Even when we refresh items do not dissapear from the list</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> 
</div>

<div class="firstCarrousel">
    <div class="card" style="width: 18rem;">
      <img src="../Assets/images/winter1.jpeg" class="card-img-top" alt="winter1">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../Assets/images/winter.jpeg" class="card-img-top" alt="winter">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
      <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>
</div>