<div class="container">
    <h1><%= title%></h1>
    <p>Using HTML, CSS, and JavaScript I created a calculator application that help people to count calories. There are two kind of calculator, the first one is for Metric measurements and the second one is for </p> 
    <p>My college years supported me in order to get experience and knowledge in programming languages. Using different frameworks, tools, API's I was able to start developing UI's for the user experience.</p>
    <p>Nowadays, after I finished my college I use my free time to upgrade my programming skills, I am a person who is interested in the web development field; therefore, most of the projects I have designed were built or are being built with web development programming application such as JavaScript, HMTL, CSS, TypeScript, Node.js, MongoDB, React and Render for hosting purposes</p>
<div class="firstCarrousel">
    <div class="card" style="width: 18rem;">
      <img src="../Assets/images/groceryApp.png" class="card-img-top" alt="grocery">
      <div class="card-body">
        <h5 class="card-title">Grocery List on its defaul state</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Grocery List with items added</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Even when we refresh items do not dissapear from the list</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>

<div class="firstCarrousel">
    <div class="card" style="width: 18rem;">
      <img src="../Assets/images/winter1.jpeg" class="card-img-top" alt="winter1">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../Assets/images/winter.jpeg" class="card-img-top" alt="winter">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
      <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>
</div>