<div class="container">
    <h1 class="headingProjects" style="text-align: center; margin: 2rem 0;"><%= title%></h1>
    <div class="wrapperProjects">
      <div class="firstCard">
        <div class="image">
          <img src="../Assets/images/groceryApp.png" class="projectImages" alt="grocery">
        </div>
        <div>
          <h5>Manager Dashboard</h5>
          <p>The goal of this grocery list is to help users to create an save a list of any item that they want to buy. It was built using CSS, HTML and JavaScript </p>
        </div>
      </div>

      <div class="secondCard">
        <div>
          <img src="../Assets/images/dashboard.png" class="projectImages" alt="dashboard">
        </div>
        <div>
          <h5>Manager Dashboard</h5>
          <p>Using Css and HTML I designed a manager dashboard which would work as a page where you can check the order details of the company.</p>
        </div>
      </div>  
      <div class="thirdCard">
        <div>
          <img src="../Assets/images/ecuatorianCuisine.png" class="projectImages" alt="dashboard">
        </div>
        <div>
          <h5>Restaurant Application</h5>
          <p>Using Css and HTML I designed a manager dashboard which would work as a page where you can check the order details of the company.</p>
        </div>
      </div>
      <div class="fourthCard">
        <div>
          <img src="../Assets/images/ecuatorianCuisine.png" class="projectImages" alt="dashboard">
        </div>
        <div>
          <h5>Ecuatorian Cuisine</h5>
          <p>Controlling the DOM I retrived the objects (menu) for a restaurant. Project developed using JavaScript Css and Html</p>
        </div>
      </div>
      
    </div>
</div>







   <!-- </div>
  </div>
  <div class="card card3" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Even when we refresh items do not dissapear from the list</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div> 
</div>

<div class="firstCarrousel">
<div class="card" style="width: 18rem;">
  <img src="../Assets/images/winter1.jpeg" class="card-img-top" alt="winter1">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="../Assets/images/winter.jpeg" class="card-img-top" alt="winter">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div> -->