<h1><%=title%></h1>

<div class="containerServices">
    
    <div class="cube1 cube">
        <img src="./Assets/images/javaScript.png" class="servicesImages" alt="javaScript">
        <h2>Web Development</h2>
        <p class="paragraphServices">My skills and knowledge to create and develop user friendly websites using different frameworks and tools are useful at the moment of creating user friendly websites.
        From designing a website using Figma to developing and deploying websites in clouds such as Render or Heroku</p>
        <a href="https://github.com/JohanFernandoLema/weatherApplication"><input type="button" value="See Project"></a>
    </div>
    <div class="cube2 cube">
        <img src="./Assets/images/csharp.png" class="servicesImages" alt="cSharp">
        <h2>Software Development</h2>
        <p class="paragraphServices">Through different prodedures and steps when it comes to Software Development I am under the duty of creating and maintaining various components of software,
            including but not limited from applications to frameworks. Basing my activities in gathering requirements, modifying servers, and prototyping
        </p>
        <a href="https://github.com/JohanFernandoLema/MedalRecords"><input type="button" value="See Project"></a>
    </div>
    <div class="cube3 cube">
        <img src="./Assets/images/jira.png" class="servicesImages" alt="jira">
        <h2>QA Tester</h2>
            <p class="paragraphServices">Ability and patience to test and review the functionality, usability and specifications of new or existing softwares in order to avoid bugs or any type of errors before they are launched for the public.
            </p>
        <a href="https://github.com/JohanFernandoLema/caloriesCalculator"><input type="button" value="See Project"></a>
    </div>
</div>



