<div class=" container containerProjects">
<h1>Web Development</h1>
<div class="webDevelopment">
    <div class="htmlService">
        <span><i class="fa-brands fa-html5"></i></span>
        <h3>HTML</h3>
        <p>
           The skill I have gotten at the moment of working with HTML have helped me to develop the expertise when it comes to interpret and understand complex designs and indentation of HTML code. 
        </p>
    </div>
    <div class="css">
        <span><i class="fa-brands fa-css3-alt"></i></span>
        <h3>CSS</h3>
        <p>
            Experience working with css in order to get control of the page layout design. In additon, I am mindful that I can use Css in three different ways both inline, embedded or external style sheet.
        </p>
    </div>
    <div class="javaScript">
        <span><i class="fa-brands fa-square-js"></i></span>
        <h3>JavaScript</h3>
        <p>
            Developed for the platform was a method of 'hi-jacking' the default browser Ctrl+F search function and replacing.
            Involved in complete Life Cycle including Analysis, Design, Development, and Testing.
            Involved in developing code in JavaScript throughout the project.
            Provided the convenience of utmost savings for people.
        </p>
    </div>

</div>
<u>Show more experience <i class="fa-sharp fa-light fa-arrow-down"></i></u>
</div>


